:root {
    --main-color: #ff0000;
    --color1: #3662e3;
    --color2: #c2daf9;
    --color3: #121826;
    --color4: #e5e7eb;
    --color5: #ffffff;
    --color6: #f9fafb;
    --color7: #212936;
    --color8: #4d5562;
    --color9: #f9fafbcc;
}
