@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #ff0000;
  --color1: #3662e3;
  --color2: #c2daf9;
  --color3: #121826;
  --color4: #e5e7eb;
  --color5: #ffffff;
  --color6: #f9fafb;
  --color7: #212936;
  --color8: #4d5562;
  --color9: #f9fafbcc;
  --main-color-light: #c0bcbc;
  --main-color-dark: #000000;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 10px;
  font-family: var(--font-family);
}

.dark-heading {
  color: var(--color2);
}

button {
  background-color: var(--main-color);
  color: var(--color5);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.light {
  --main-color: var(--main-color-light);
}

.dark {
  --main-color: var(--main-color-dark);
}
